// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-fair-margin);
  --page-background: var(--app-background);

  --page-tags-vertical-gutter: calc(var(--page-margin) / 4);
  --page-tags-horizontal-gutter: calc(var(--page-margin) / 2);
  --page-users-pictures-gutter: calc(var(--page-margin) / 4);
  --page-dish-score-height: 6px;

  --page-rating-5-color: #7ce198;
  --page-rating-4-color: #a8e07c;
  --page-rating-3-color: #cee07c;
  --page-rating-2-color: #e0c77c;
  --page-rating-1-color: #e07c7c;

  --page-color: #ebbb00;
  --page-color-rgb: 235,187,0;
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.food-details-content {
  --background: var(--page-background);

  .details-divider {
    margin: 0px var(--page-margin) calc(var(--page-margin) * 2);
    border-top: 2px solid rgba(var(--ion-color-light-shade-rgb), .4);
  }

  .recipes-wrapper {
    .recipes-header {
      padding: 0px var(--page-margin) 0px;

      .detail-title {
        text-transform: capitalize;
      }
    }

    .recipes-list {
      .recipe-item {
        .chef-picture-wrapper {
          width: 20%;
          margin: 0px auto;
          margin-top: -10%;
          margin-bottom: calc(var(--page-margin) / 2);
        }

        .details-divider {
          margin-bottom: 0px;
        }

        .recipe-title {
          text-align: center;
          margin: 0px 0px calc(var(--page-margin) / 2);
          font-weight: 400;
          letter-spacing: 3px;
          font-size: 18px;

          &::before,
          &::after {
            content: '·';
            color: var(--ion-color-dark-tint);
            margin: 0px 2px;
          }
        }

        .recipe-call-to-action {
          text-align: center;
          margin: var(--page-margin) calc(var(--page-margin) * 2);
          display: flex;
          flex-direction: column;
          align-items: center;

          .recipe-name {
            font-weight: 300;
            letter-spacing: 1px;
            margin: calc(var(--page-margin) / 2) 0px;
            min-width: 90%;
            .__recovered {
              color: #8ACA2B;
            }
            .__cases {
              color: #aaa;
            }
            .__deaths {
              color: #696969;
            }
            .__last_updated {
              font-size: 13px;
              color: #999;
              text-align: center;
            }
            
          }
        }
      }
    }
  }
}
